<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= business.shopName %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
</head>
<body>
    <%- include('sections/navbar.ejs', { business: business }) %>
    <div id="sections-container">
        <%- include('sections/landing.ejs', { business: business }) %>
        <%- include('sections/reviewers.ejs', { business: business }) %>
        <%- include('sections/contact.ejs', { business: business }) %>
    </div>
    <!-- <div id="sections-container">
        <%# sections.forEach(section => { %>
            <%#- include(`sections/${section}.ejs`, { business: business }) %>
        <%# }); %>
    </div> -->
    <div class="bg-white dark:bg-gray-900 flex justify-center">
        <button type="button" id="publish" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Publish!</button>
    </div>

    <script src="/js/index.js"></script>
    <!-- <script src="/js/swap-sections.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    
</body>
</html>
